{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherAPP</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body {% if exception_occurred %}style="background-image: url('https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');"{% else %}style="background-image: url('{{ image_url }}');"{% endif %}>
    
    <section id="card">
        <div class="container">
            <h1>Weather App</h1>
        </div>
    
        <form method="post">
            {% csrf_token %}
            <input type="text" name="city" placeholder="Enter a city">
            <button type="submit">search</button>
        </form>
        
        <section id="infos">
            <div id="city-temp">
                <h2>{{temp}}°C</h2>
                <h3 class="texts">{{city}}</h3>
            </div>
    
            <div id="temp-info">
                <p>
                    <img src="http://openweathermap.org/img/w/{{icon}}.png" width="80px">
                </p>
                <p class="texts">{{ description }}</p>
                <p>{{ day }}</p>
            </div>
            
            {% if exception_occurred %}
            <script>
                window.onload = function(){
                    alert("City information is not available to our API")
                }
            </script>
            {% endif %}
        </section>
    </section>

</body>
</html>